* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Outfit', Arial, sans-serif;
  background-color: #f5f5f5;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}
